{% extends "base.html" %}

{% block title %}
	Agregando una nueva nomina
{% endblock %}

{% block content %}
		<h3>Nominas</h3>
<ul class="tabs">
</ul>

	<div id="instructions" class="tab-content">
	<div class="col_8">
	<h4><i class="icon-wrench"></i> Setup</h4>

	<form action="" method="post">
		{% csrf_token %}
		{{form.as_p}}

<!--	<button class="medium green" onclick="window.close();"><i class="icon-play-circle"></i>Guardar</button>-->
	<button class="medium green"><i class="icon-play-circle"></i>Guardar</button>
</form>


	</div>
	<div class="col_1"></div>
	<div class="col_3">

	<h4><i class="icon-globe"></i> Browsers</h4>
	HTML KickStart Tested and working in IE 8+, Safari, Chrome, Firefox, Opera, Safari IOS, Browser and Chrome Android. 
	<h4>Notes</h4>
	Don't forget to use an HTML5 Doctype
	<code>&lt;!DOCTYPE html&gt;</code>
	</div>
	</div>

	</div>

{% endblock %}
