{% extends "base.html" %}

{% block title %}

{% endblock %}


{% block content %}
<h1>CHAT IICEA BIENVENIDO</h1>
        <form>
		<input name="name" placeholder="Your username here" value="{{user.username}}"><br>
        <div id="out">
        </div>
        <input name="message"> <input class="medium green"type="submit" value="Enviar">
	
	<!--<button class="medium green"><i class="icon-play-circle"></i>Guardar</button> -->

        </form>
        <script>
        var SOCK = {
          host: location.hostname,
          port: {{ socket_port }},
          channel: '{{ socket_channel }}'
        };
        </script>
        <script src="/static/chat/js/vendor/sockjs-0.3.2.min.js"></script>
        <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>-->
        <script>window.jQuery || document.write('<script src="/static/chat/js/vendor/jquery-1.8.0.min.js"><\/script>')</script>
        <script src="/static/chat/js/plugins.js"></script>
        <script src="/static/chat/js/main.js"></script>

{% endblock %}

