<!DOCTYPE html>
<html><head>
<title>{% block title %} {% endblock %}</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description" content="HTML KickStart is a ultra–lean set of HTML5, CSS, and jQuery (javascript) files, layouts, and elements designed to give you a headstart and save you a lot of hours on your next web project." />
<meta name="copyright" content="Joshua Gatcke 99lime.com All Rights Reserved" />
<link rel="stylesheet" type="text/css" href="/static/css/kickstart.css" media="all" />                  <!-- KICKSTART -->
<link rel="stylesheet" type="text/css" href="/static/style.css" media="all" />                          <!-- CUSTOM STYLES -->
<link rel="stylesheet" type="text/css" href="/static/css/date/date.css" media="all" />                          <!-- CUSTOM STYLES -->

</head><body>
<!-- ===================================== END HEADER ===================================== -->

{% if  user.is_staff %}
	
<nav class="navbar">
<a class="hide-phone" id="logo" href="{% url  'vista_logout' %}"><i class="icon-angle-right"></i> CERRAR <span>SESION</span></a>

<ul>
{% if user.is_superuser %}
<li><a href="{% url 'vista_principal'  %}"><span>II</span>CEA</a></li>
<li><a href="{% url 'vista_lista_empleados'  %}"><span>EM</span>PLEADOS</a></li>
<li><a href="{% url 'vista_lista_alumnos'  %}"><span>AL</span>UMNOS</a></li>
{% endif %}

<li><a href="{% url 'vista_lista_calificacions'  %}"><span>CA</span>LIFICACIONES</a></li>
</ul>
</nav>
{% endif %}



<div class="grid">
	<br>
	<br>
	{% block content %}
	
	{% endblock %}

</div><!--END GRID WRAP-->

<script type="text/javascript" src="/static/js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="/static/js/kickstart.js"></script>                                 
<script type="text/javascript" src="/static/js/pup.js"></script>
<script type="text/javascript" src="/static/date/date.js"></script>
	<script type="text/javascript">
	window.onload = function(){
		var fecha1=new JsDatePick({
				useMode:2,
				target:"id_fecha",
				dateFormat:"%d/%m/%Y"
			});
		};
	</script>
	<script type="text/javascript">
	window.onload = function(){
		var fecha2=new JsDatePick({
				useMode:2,
				target:"id_fecha_nacimiento",
				dateFormat:"%d/%m/%Y"
			});
		};
	</script>

<!-- KICKSTART -->


</body></html>
