{% extends "base.html" %}

{% block title %}Lista de Asistencia empleados{% endblock %}

{% block content %}

<!-- ===================================== 
	INSTRUCTIONS 
===================================== -->
<br />
<br />
<a href="{% url 'vista_agregar_asistencia_empleado'  %}">
<button class="medium green"><i class="icon-play-circle"></i>Agregar Asistencia</button>
</a>
<h3>Aisstencia de empleados</h3>
<ul class="tabs">
<li><a href="#instructions">Lista</a></li>
</ul>

	<div id="instructions" class="tab-content">
	<div class="col_8">
	<h4><i class="icon-wrench"></i> Setup</h4>
		{% if lista %}
		<!-- Table -->
		<table cellspacing="0" cellpadding="0">
		<thead><tr>
				<th>Nombre</th>
			</tr>
		</thead>
		<tbody>
				{% for p in lista %}
				<tr>
				<td>{{p.nombre}}{{p.fecha}}</td>
				<td><a href="{% url  'vista_editar_asistencia_empleado' p.id %}"><button class="medium blue"><i class="icon-edit"></i>Editar</button></a></td>
				<td> <button class="medium red" onClick="if (confirm('Esta seguro de querer eliminar {{p.nombre}} {{p.fecha}}!')){window.location.href = '{% url  'vista_eliminar_asistencia_empleado' p.id %}';};"><i class="icon-minus-sign"></i>Dar de baja</button></td>
				</tr>
				{% endfor %}
		</tbody>
		</table>
		 {% else %}
		 <h1>No se han encontrado asistencia de empleados</h1>
		{% endif %}
	<div class="pagination">
		<span class="step-links">
			{% if lista.has_previous %}
				<a href="?page={{ lista.previous_page_number }}"><button class="small orange"><i class="icon-edit"></i>Anterior</button></a>
			{% endif %}
			<span class="current">
				Pagina {{ lista.number }} hasta {{ lista.paginator.num_pages }}.
			</span>
			{% if lista.has_next %}
				<a href="?page={{ lista.next_page_number }}"><button class="small orange"><i class="icon-edit"></i>Siguiente</button></a>
			{% endif %}
		</span>
	</div>
	</div>
	<div class="col_1"></div>
	<div class="col_3">
	{% include "infouser.html" %}
	</div>
	</div>
{% endblock %}
